
<div class="jumbotron">
    <h2 class="text-center font-weight-bold text-uppercase">Our Partners</h2>      
    <p class="text-center">Trade or invest in your future with our most popular accounts</p>
    <div class=container>
		<div class="card-group">
		    <!-- Affiliate cards -->
		    <div class="col-md-4">
		      	<div class="card m-1 mb-2">
			        <div class="card-body">
			          <h5 class="card-title font-weight-bold text-uppercase"> <img src="http://traynorcapital.com/wp-content/uploads/2017/05/charles-schwab-logo.png" class=" pb-3" style='width:150px;height:40px'></h5>
			          <h6 class="card-subtitle text-muted">
			          </h6>
			          
			          <p class="card-text"> 
			          The Charles Schwab Corporation is a bank and brokerage firm, based in San Francisco, California. It was founded in 1971 by Charles R. Schwab and is one of the largest banks in the USA.
			          </p>
			          <a href="https://www.schwab.com/" title="charles-schwab" target="_blank"><button type="button" class="btn btn-success">Open an account</button></a>
			        </div>
			    </div>
		    </div>
		    <div class="col-md-4">
		      	<div class="card m-1 mb-2">
			        <div class="card-body">
			          <h5 class="card-title font-weight-bold text-uppercase"> <img src="http://1000logos.net/wp-content/uploads/2017/08/Fidelity-Logo.png" class=" pb-3" style='width:150px;height:40px'></a></h5>
			          <h6 class="card-subtitle text-muted">
			          </h6>
			          <p class="card-text">
			          Fidelity Investments Inc., commonly referred to as Fidelity, is a multinational financial services corporation based in Boston, Massachusetts. It is the fourth largest asset manager with $2.4 trillion. 
			          </p>
			          <a href="http://www.Fidelity.com" target="_blank"><button type="button" class="btn btn-success">Open an account</button></a>
			        </div>
			    </div>
		    </div>
		    <div class="col-md-4">
		      	<div class="card m-1 mb-2">
			        <div class="card-body">
			          <h5 class="card-title font-weight-bold text-uppercase"><img src="https://media.consumeraffairs.com/files/guide-campaign-logos/Interactive_Brokers_logo.jpg" class=" pull-right pb-3" style='width:150px;height:40px'></h5>
			          <h6 class="card-subtitle text-muted">
			          </h6>
			          
			          <p class="card-text">
			          Interactive Brokers LLC is a U.S.-based electronic brokerage firm. It is the largest U.S. electronic brokerage firm by number of daily average revenue trades, and is the leading forex broker.
			          <p></p> 
			          </p>
			          <a href="http://www.interactivebrokers.com" title="Interactive Brokers" target="_blank"><button type="button" class="btn btn-success align-self-end">Open an account</button></a>
			        </div>

			    </div>
		    </div>
		    <div class="col-md-4">
		      	<div class="card m-1 mb-2">
			        <div class="card-body">
			          <h5 class="card-title font-weight-bold text-uppercase"><img src="https://www.logolynx.com/images/logolynx/67/678ceafb1ef4cfb3f8bdccc4dbfa7aae.png" class=" pull-right pb-3" style='width:150px;height:40px'></h5>
			          <h6 class="card-subtitle text-muted">
			          </h6>
			          
			          <p class="card-text">
			          TD Ameritrade is a brokerage firm based in Omaha, Nebraska with a major trading center in St Louis, Missouri. The letters TD are derived from Toronto-Dominion Bank, the largest shareholder.  
			          </p>
			          <a href="http://www.Ameritrade" title="Ameritrade" target="_blank"><button type="button" class="btn btn-success">Open an account</button></a> 
			        </div>
			    </div>
		    </div>
		    <div class="col-md-4">
		      	<div class="card m-1 mb-2">
			        <div class="card-body">
			          <h5 class="card-title font-weight-bold text-uppercase"><img src="http://www.kaseco.com/wp-content/uploads/2018/03/TS_Logo_CMYK.jpg" class=" pull-right pb-3" style='width:150px;height:40px'> </h5>
			          <h6 class="card-subtitle text-muted">
			          </h6>
			          
			          <p class="card-text"> 
			          Explore the Latest Features & Tools to Become a More Strategic Trader. Services: Stocks & ETFs Trading, Futures Trading, Reliable Real-Time Data, Mobile Trading. 
			          </p>
			          <a href="http://www.TradeStation.com" title="TradeStation" target="_blank"><button type="button" class="btn btn-success">Open an account</button></a>
			        </div>
			    </div>
		    </div>
		    <div class="col-md-4">
		      	<div class="card m-1 mb-2">
			        <div class="card-body">
			          <h5 class="card-title font-weight-bold text-uppercase"> <img src="https://www.aricheryou.com/wp-content/uploads/2017/07/robinhood-2.png" class=" pull-right pb-3" style='width:150px;height:40px'></h5>
			          <h6 class="card-subtitle text-muted">
			          </h6>
			          
			          <p class="card-text">  
			          	Robinhood, is a U.S.-based financial services company. The company offers the Robinhood smartphone mobile app, which allows individuals to invest in publicly traded companies.
			          </p>
			          <a href="https://robinhood.com/" title="Robinhood"><button type="button" class="btn btn-success">Open an account</button></a>
			        </div>
			    </div>
		    </div>
		</div>
	</div>
</div>
<div class="container">
<h4 class="text-center text-uppercase">Online Broker Offers</h4>
<p><span>Are you getting ready to open a new online trading account? Once you’ve completed your review of the partnered brokers, taking several minutes to review current offers is important.</span><br><br>

<span>The most common promotional offers made available by online brokers include cash bonuses, which vary depending on the amount of the initial deposit.</span><br><br>

<span>All exclusive offers, featured above, are exclusive to visitors of ROvIX.</span><br><br>

<span>To start click to open an account, then complete the account application and follow the instructions after that, i.e. make a deposit of $xx or place x trades.</span>
<p>
</div>
