<style>
html, body {
     margin: 0;
}
.uptop {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
.navbar-brand{
 letter-spacing: 20px;
}

.navbar{
  background-color:rgba(255,255,255, 0.7);
  font-size: 16px;
  color:black;
  /* font-weight: 600;   */
  
}

h1{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     font-weight: 600;
     font-size: 23px;
     text-shadow: 2px 2px #343a40;
     letter-spacing: 30px;
      animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
     /* font-family: 'Lato'; */
    
}

h3{
    position: absolute;
    top: 59%;
    left:49%;
    transform: translate(-50%, -50%);
    letter-spacing: 1px;
    padding:3px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    text-shadow: 2px 2px #343a40;
    /* text-transform: uppercase; */
     /* font-family: Poppins; */
    /* font-family: 'Flamenco', cursive; */
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    
}

.btn{
    position: absolute;
    top: 65%;
    left: 45%;
    text-decoration:none;
    transition: all .3s ease-out;
    background-color: rgba(255,255,255, 0.7);
    border-color: black;
     animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    
}

.btn:hover {
  text-decoration:none;
  transform: translate(0, -10px);

}

<%# Fade In Effect %>
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@media only screen and (min-width: 769px) {
  .video{
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 768px) {
     h1 {
          font-size: 23px;
          letter-spacing: 4px;
     }

    h3{
      top: 61%;
          left: 50%;
          line-height: 1.5em;
          transform: translate(-50%, -60%);
          font-size: 14px;
      }



}

@media (max-width: 576px) {
  .btn{
    top: 71%;
    left: 38%;
    
    }
        
    h3{
      
    top: 63%;
    left: 50%;
    
    }
        
    h1 {
    top: 48%;
    
    }
  .uptop{
    height: 93vh!important;
  }
}

/* Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    video{
      width:auto!important;
      height:auto!important;
    }
}       

            
</style>

<div class="uptop">
  <video class="video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://s3.amazonaws.com/rovix-public/Market+Loop+Background+Video+-+High+Resolution.mp4" type="video/mp4">
  </video> 

<h1 style="color:white;font-weight: bold;">WELCOME TO ROvIX</h1>
  <h3  style="color:white;">  Empowering users with the latest business chatter and trending news </h3>                         
  <%= link_to "Get Started", search_index_url  , style:"color:white;background-color: rgb(165, 71, 71);", class:"btn btn-outline-secondary", onclick: "hidePage()" %>
</div>
    
       
    
     
    




